In [ ]:
from parkingLots_newWith_list import _parkingLots
import phonefiles as files
import mysql.connector

In [91]:

#CONNECTING TO MYSQL DATABASE
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="1234",
  database="FindMeParking"
)

In [90]:
mydb.close()

In [92]:
  #USING THIS ITEM TO RUN QUERIES
mycursor = mydb.cursor()

In [ ]:
has_data = False

In [ ]:
#CREATING THE DATABASE
mycursor.execute("CREATE DATABASE IF NOT EXISTS FindMeParking")
mydb.commit()

In [ ]:
mycursor.execute("SHOW TABLES;")
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

In [ ]:
mycursor.execute("CREATE TABLE IF NOT EXISTS ParkingLot_locations \
(\
    lot_number INT auto_increment,\
    lot_title VARCHAR(100) NOT NULL,\
    lot_lat_coord FLOAT NOT NULL,\
    lot_long_coord FLOAT NOT NULL,\
    lot_type INT NOT NULL,\
    PRIMARY KEY (lot_number)\
);")
mydb.commit()

In [ ]:
mycursor.execute("SELECT * FROM ParkingLot_locations")
myresult = mycursor.fetchall()
if len(myresult) > 0:
    has_data = True

In [ ]:
#INSERTING INTO THE LOCATIONS TABLE
if not has_data:
    for name, item_list in _parkingLots.items():
        
        sql = "INSERT INTO ParkingLot_locations (lot_title, lot_lat_coord, lot_long_coord, lot_type) VALUES (%s, %s, %s, %s)"
        
        val = (name, float(item_list[0][0]), float(item_list[0][1]), int(item_list[1]),)
        mycursor.execute(sql, val)
        mydb.commit()
has_data = False

In [ ]:
#VIEW THE LOCATIONS TABLE DATA
mycursor.execute("SELECT * FROM ParkingLot_locations")
myresult = mycursor.fetchall()
for x in myresult:
  print(x)

In [ ]:
mycursor.execute("CREATE TABLE IF NOT EXISTS FindMeParking_USERS ( \
    user_number INT auto_increment,\
    user_username VARCHAR(20) NOT NULL,\
    user_password VARCHAR(100) NOT NULL,\
    user_gender VARCHAR(1) NOT NULL,\
    user_fname VARCHAR(20) NOT NULL,\
    user_lname VARCHAR(30) NOT NULL,\
    user_email VARCHAR(40) NOT NULL,\
    user_tele BIGINT NOT NULL,\
    user_id VARCHAR(9) NOT NULL,\
    user_cardNo BIGINT NOT NULL,\
    user_cvv VARCHAR(4) NOT NULL,\
    user_exp_month VARCHAR(2) NOT NULL,\
    user_exp_year VARCHAR(2) NOT NULL,\
    PRIMARY KEY (user_number)\
);")
mydb.commit()

In [77]:
#VIEW THE USERS TABLE DATA
user = ('allaire','123456789',)
mycursor.execute("SELECT * FROM FindMeParking_USERS WHERE user_username = %s AND user_password = %s;", user);
myresult = mycursor.fetchall()
#for x in myresult:
print(myresult[0])

(10101, 'allaire', '123456789', 'M', 'Allaire', 'Saunders', 'allaire@live.yea', 987654321, '101223456', 1234567890123456, '412', '11', '25')

In [78]:
#VIEW THE USERS TABLE DATA
user = ('allaire@live.yea',)
mycursor.execute("SELECT * FROM FindMeParking_USERS WHERE user_email = %s;", user);
myresult = mycursor.fetchall()
#for x in myresult:
print(myresult[0])

(10101, 'allaire', '123456789', 'M', 'Allaire', 'Saunders', 'allaire@live.yea', 987654321, '101223456', 1234567890123456, '412', '11', '25')

In [ ]:

try:
    mycursor.execute("ALTER TABLE FindMeParking_USERS AUTO_INCREMENT=10101;")
    mydb.commit()
except Exception:
        mydb.rollback()

In [79]:
try:
    mycursor.execute("ALTER TABLE FindMeParking_USERS ADD UNIQUE (user_email);")
    mydb.commit()
except Exception:
        mydb.rollback()

In [81]:
mycursor.execute("SELECT * FROM FindMeParking_USERS")
myresult = mycursor.fetchall()
if len(myresult) > 0:
    has_data = True

In [93]:
val = ("a",)
mycursor.execute("SELECT * FROM FindMeParking_USERS ")#WHERE user_email = %s",val)
myresult = mycursor.fetchall()
#print ("HAS") if len(myresult) > 0 else print("NOT")
for x in myresult:
    print(x)

(10101, 'allaireS', '123456789', 'M', 'Allaire', 'Saunders', 'allaireS@live.yea', 987654321, '101223456', 1234567890123456, '412', '11', '25')
(10102, 'giannaTh', '1234567890', 'F', 'Gianna', 'Thomasing', 'gthomasing@imhere.daw', 8761234432, '987123456', 1234567898765432, '018', '4', '26')
(10103, 'kareem', '123456789q', 'M', 'Kareem', 'Saunders', 'kareemS@gmail.con', 8769091211, '101111111', 9876543210123456, '776', '7', '27')

In [82]:
if not has_data:        
        sql = "INSERT INTO FindMeParking_USERS \
                (user_username, user_password, user_gender, user_fname, user_lname, user_email, user_tele, user_id, user_cardNo, user_cvv, user_exp_month, user_exp_year)\
                VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);"    
        val = ("allaire","123456789","M","Allaire","Saunders","allaire@live.yea",987654321,"101223456",1234567890123456,"412","11","25")
        try:
                mycursor.execute(sql, val)
                mydb.commit()
        except Exception:
                mydb.rollback()
has_data = False

In [89]:

sql = "UPDATE FindMeParking_USERS SET user_email = %s, user_username = %s WHERE user_number = %s;"    
val = ("allaireS@live.yea","allaireS",10101)
mycursor.execute(sql, val)
mydb.commit()

In [62]:
#VIEW THE USERS TABLE DATA
mycursor.execute("SELECT * FROM FindMeParking_USERS;")
myresult = mycursor.fetchall()
for x in myresult:
  print(x)

(10101, 'allaire', '123456789', 'M', 'Allaire', 'Saunders', 'allaire@live.yea', 987654321, '101223456', 1234567890123456, '412', '11', '25')
(10102, 'giannaTh', '1234567890', 'F', 'Gianna', 'Thomasing', 'gthomasing@imhere.daw', 8761234432, '987123456', 1234567898765432, '018', '4', '26')

In [ ]:
mycursor.execute("CREATE TABLE IF NOT EXISTS FindMeParking_USER_PreviousBookings ( \
    user_PreviousBookings_no INT auto_increment, \
    user_PreviousBookings_usernumber INT NOT NULL,\
    user_PreviousBookings_String VARCHAR(300) NOT NULL,\
    PRIMARY KEY (user_PreviousBookings_no)\
);")
mydb.commit()

In [ ]:
try:
    mycursor.execute("ALTER TABLE FindMeParking_USER_PreviousBookings AUTO_INCREMENT=1000000;")
    mydb.commit()
except Exception:
        mydb.rollback()

In [68]:
#VIEW THE USERS TABLE DATA
user = (10101,)
mycursor.execute("SELECT user_PreviousBookings_no, user_PreviousBookings_String FROM FindMeParking_USER_PreviousBookings WHERE user_PreviousBookings_usernumber = %s;", user);
myresult = mycursor.fetchall()
for x in myresult:
  print(x)

(1000015, 'NMIA Parking Lot B#1#NONE#2024-12-04 23:54:20#100#0')
(1000016, 'Manor Park Plaza#2#NONE#2024-12-05 00:54:42#200#0')

In [ ]:
#mycursor.execute("DROP TABLE FindMeParking_USER_PreviousBookings;")

In [ ]:
previousbookings_List = []

In [ ]:
with open(f"{files.user_profile}previous_bookings.txt","r") as f: 
    for line in f:
        if len(line) > 0:
            previousbookings_List.append(line)

In [ ]:
for x in previousbookings_List:
    print(x.strip())

In [ ]:
if not has_data:
    for line in previousbookings_List:
        
        sql = "INSERT INTO FindMeParking_USER_PreviousBookings (user_PreviousBookings_usernumber,user_PreviousBookings_String) VALUES (%s, %s)"
        
        val = (10102, line.strip())
        mycursor.execute(sql, val)
        mydb.commit()
has_data = False

In [ ]:
#VIEW THE USERS TABLE DATA
mycursor.execute("SELECT * FROM FindMeParking_USER_PreviousBookings;")
myresult = mycursor.fetchall()
for x in myresult:
  print(x)

In [ ]:
user = (10102,)
mycursor.execute("SELECT * FROM FindMeParking_USERS WHERE user_number = %s;",user)
myresult = mycursor.fetchall()
for x in myresult:
  print(type(x[7]))