In [3]:
from parkingLots_newWith_list import _parkingLots
import phonefiles as files
import mysql.connector

In [46]:

#CONNECTING TO MYSQL DATABASE : CONNECT STEP 1
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="1234",
  database="FindMeParking"
)

In [47]:
  #USING THIS ITEM TO RUN QUERIES : CONNECT STEP 2
mycursor = mydb.cursor()

In [ ]:
#IF ANY ERRORS WHEN RUNNING QUERIES, UNCOMMENT BELOW, RUN THE LINE, THEN RUN CONNECT STEP 1, THEN CONNECT STEP 2, THEN COMMENT OUT BELOW

#mydb.close()

In [ ]:
#--------------------------------------------------------------------------------------------

In [ ]:
has_data = False

In [ ]:
#--------------------------------------------------------------------------------------------

In [ ]:
#CREATING THE DATABASE
mycursor.execute("CREATE DATABASE IF NOT EXISTS FindMeParking")
mydb.commit()

In [ ]:
mycursor.execute("SHOW TABLES;")
myresult = mycursor.fetchall()
if len(myresult) > 0:
    for x in myresult:
        print(x)

In [ ]:
#--------------------------------------------------------------------------------------------

In [ ]:
mycursor.execute("CREATE TABLE IF NOT EXISTS ParkingLot_locations \
(\
    lot_number INT auto_increment,\
    lot_title VARCHAR(100) NOT NULL,\
    lot_lat_coord FLOAT NOT NULL,\
    lot_long_coord FLOAT NOT NULL,\
    lot_type INT NOT NULL,\
    PRIMARY KEY (lot_number)\
);")
mydb.commit()

In [ ]:
mycursor.execute("SELECT * FROM ParkingLot_locations")
myresult = mycursor.fetchall()
if len(myresult) > 0:
    has_data = True

In [ ]:
#INSERTING INTO THE LOCATIONS TABLE
if not has_data:
    for name, item_list in _parkingLots.items():        
        sql = "INSERT INTO ParkingLot_locations (lot_title, lot_lat_coord, lot_long_coord, lot_type) VALUES (%s, %s, %s, %s)"        
        val = (name, float(item_list[0][0]), float(item_list[0][1]), int(item_list[1]),)
        mycursor.execute(sql, val)
        mydb.commit()
has_data = False

In [ ]:
#VIEW THE LOCATIONS TABLE DATA
mycursor.execute("SELECT * FROM ParkingLot_locations")
myresult = mycursor.fetchall()
for x in myresult:
  print(x)

In [ ]:
#--------------------------------------------------------------------------------------------

In [ ]:
mycursor.execute("CREATE TABLE IF NOT EXISTS FindMeParking_USERS ( \
    user_number INT auto_increment,\
    user_username VARCHAR(20) NOT NULL,\
    user_password VARCHAR(100) NOT NULL,\
    user_gender VARCHAR(1) NOT NULL,\
    user_fname VARCHAR(20) NOT NULL,\
    user_lname VARCHAR(30) NOT NULL,\
    user_email VARCHAR(40) NOT NULL,\
    user_tele BIGINT NOT NULL,\
    user_id VARCHAR(9) NOT NULL,\
    user_cardNo BIGINT NOT NULL,\
    user_cvv VARCHAR(4) NOT NULL,\
    user_exp_month VARCHAR(2) NOT NULL,\
    user_exp_year VARCHAR(2) NOT NULL,\
    PRIMARY KEY (user_number)\
);")
mydb.commit()

In [ ]:
try:
    mycursor.execute("ALTER TABLE FindMeParking_USERS AUTO_INCREMENT=10101;")
    mydb.commit()
except Exception:
    print("ERROR -- ROLLBACK (( ALTER TABLE FindMeParking_USERS AUTO_INCREMENT=10101 ))")
    mydb.rollback()

In [ ]:
try:
    mycursor.execute("ALTER TABLE FindMeParking_USERS ADD UNIQUE (user_email,user_id);")
    mydb.commit()
except Exception:
    print("ERROR -- ROLLBACK (( ALTER TABLE FindMeParking_USERS ADD UNIQUE (user_email,user_id); ))")
    mydb.rollback()

In [ ]:
mycursor.execute("SELECT * FROM FindMeParking_USERS")
myresult = mycursor.fetchall()
if len(myresult) > 0:
    has_data = True

In [ ]:
if not has_data:        
        sql = "INSERT INTO FindMeParking_USERS \
                (user_username, user_password, user_gender, user_fname, user_lname, user_email, user_tele, user_id, user_cardNo, user_cvv, user_exp_month, user_exp_year)\
                VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);"    
        val = ("demouser","123456789","M","Demo","User","demo@use.yea",987654321,"101823456",1234567890123456,"412","11","25")
        try:
                mycursor.execute(sql, val)
                mydb.commit()
        except Exception:
                print("ERROR -- ROLLBACK (( INSERT INTO FindMeParking_USERS ))")
                mydb.rollback()

In [ ]:
try: 
    mycursor.execute("ALTER TABLE FindMeParking_USERS ADD COLUMN user_status ENUM('Active', 'Inactive', 'Blocked') DEFAULT 'Active';")
    mydb.commit()
    has_data = False
except Exception:
    print("ERROR (( ALTER TABLE FindMeParking_USERS ADD COLUMN user_status ENUM('Active', 'Inactive', 'Blocked') DEFAULT 'Active'; ))")
    mydb.rollback()

In [ ]:
#mycursor.execute("ALTER TABLE FindMeParking_USERS DROP COLUMN user_balance;")
#mydb.commit()

In [ ]:
#Update the existing rows with the default status (Active)
try:
    mycursor.execute("UPDATE FindMeParking_USERS SET user_status = if( user_status = NULL,'Active', user_status);")
    mydb.commit()
except Exception:
     print("ERROR (( UPDATE FindMeParking_USERS SET user_status = 'Active'; ))")
     mydb.rollback()

In [ ]:
try:
    mycursor.execute("ALTER TABLE FindMeParking_USERS ADD COLUMN user_balance FLOAT DEFAULT 1000;")
    mydb.commit()
    has_data = False
except Exception:
    print("ERROR (( ALTER TABLE FindMeParking_USERS ADD COLUMN user_balance FLOAT DEFAULT 1000; ))")
    mydb.rollback()

In [ ]:
try:
    mycursor.execute("UPDATE FindMeParking_USERS SET user_balance = if( user_balance = NULL,1000, user_balance);")
    mydb.commit()
except Exception:
    print("ERROR (( UPDATE FindMeParking_USERS SET user_balance = if( user_balance = NULL,1000, user_balance); ))")
    mydb.rollback()

In [65]:
#VIEW THE LOCATIONS TABLE DATA
mycursor.execute("SELECT * FROM FindMeParking_USERS")
myresult = mycursor.fetchall()
for x in myresult:
  print(x)

(10101, 'allaireS', '123456789', 'M', 'Allaire', 'Saunders', 'allaireS@live.yea', 987654321, '101223456', 1234567890123456, '412', '11', '25', 'Active', 40.0)
(10102, 'giannaTh', '1234567890', 'F', 'Gianna', 'Thomasing', 'gthomasing@imhere.daw', 8761234432, '987123456', 1234567898765432, '018', '4', '26', 'Active', 120.0)
(10103, 'kareem', '123456789q', 'M', 'Kareem', 'Saunders', 'kareemS@gmail.con', 8769091211, '101111234', 9876543210123456, '776', '7', '27', 'Active', 20.0)
(10104, 'amanda', 'amanda123', 'F', 'Amanda', 'Thomassing', 'athomas@ditto.lal', 8663214343, '988411556', 9123456789012345, '101', '9', '31', 'Active', 620.0)
(10105, 'jennjenn', 'jenny101', 'F', 'Jenny', 'Cyrious', 'jennjenn@yaloo.own', 8765432210, '911011999', 8765432109876543, '454', '8', '25', 'Active', 1080.0)
(10106, 'andrew', '1122334455', 'M', 'Andrew', 'Stephenson', 'andrew@steph.son', 8765554443, '864201357', 5678901234654321, '555', '6', '26', 'Active', 800.0)
(10107, 'demouser', '123456789', 'M', 'Demo', 'User', 'demo@use.yea', 987654321, '101823456', 1234567890123456, '412', '11', '25', 'Active', 90.0)
(10108, 'demouser2', '123456789', 'F', 'Demo2', 'User2', 'demo2@use.yea', 9876693210, '101823888', 1234567890123456, '402', '12', '25', 'Blocked', 10.0)

In [ ]:
#mycursor.execute("UPDATE FindMeParking_USERS SET user_balance = 10 WHERE user_number = 10108;")
#mydb.commit()

In [ ]:
#--------------------------------------------------------------------------------------------

In [ ]:
mycursor.execute("CREATE TABLE IF NOT EXISTS FindMeParking_USER_PreviousBookings ( \
    user_PreviousBookings_no INT auto_increment, \
    user_PreviousBookings_usernumber INT NOT NULL,\
    user_PreviousBookings_String VARCHAR(300) NOT NULL,\
    PRIMARY KEY (user_PreviousBookings_no)\
);")
mydb.commit()

In [ ]:
try:
    mycursor.execute("ALTER TABLE FindMeParking_USER_PreviousBookings AUTO_INCREMENT=1000000;")
    mydb.commit()
except Exception:
        mydb.rollback()

In [ ]:
mycursor.execute("SELECT * FROM FindMeParking_USER_PreviousBookings")
myresult = mycursor.fetchall()
if len(myresult) > 0:
    has_data = True

In [ ]:
if not has_data:
    previousbookings_List = []
    
    with open(f"{files.user_profile}previous_bookings.txt","r") as f: 
        for line in f:
            if len(line) > 0:
                previousbookings_List.append(line)
    
    for line in previousbookings_List:
        
        sql = "INSERT INTO FindMeParking_USER_PreviousBookings (user_PreviousBookings_usernumber,user_PreviousBookings_String) VALUES (%s, %s)"
        
        val = (10101, line.strip())
        mycursor.execute(sql, val)
        mydb.commit()
has_data = False

In [ ]:
#VIEW THE USERS TABLE DATA
mycursor.execute("SELECT * FROM FindMeParking_USER_PreviousBookings;")
myresult = mycursor.fetchall()
for x in myresult:
  print(x)

In [ ]:
#--------------------------------------------------------------------------------------------

In [ ]:
#mycursor.execute("DROP TABLE FindMeParking_VALID_USERS")

In [ ]:
#--------------------------------------------------------------------------------------------

In [ ]:
mycursor.execute("CREATE TABLE IF NOT EXISTS FindMeParking_VALID_USERS ( \
    valid_user_no INT AUTO_INCREMENT, \
    valid_user_number INT NOT NULL,\
    valid_user_email VARCHAR(40) NOT NULL,\
    valid_user_id VARCHAR(9) NOT NULL,\
    PRIMARY KEY (valid_user_no),\
    FOREIGN KEY (valid_user_number) REFERENCES FindMeParking_USERS(user_number)\
);")
mydb.commit()

In [ ]:
try:
    mycursor.execute("ALTER TABLE FindMeParking_VALID_USERS AUTO_INCREMENT=100;")
    mydb.commit()
except Exception:
        mydb.rollback()

In [ ]:
#CHECK IF THE 'FindMeParking_VALID_USERS' TABLE ALREADY HAS DATA
mycursor.execute("SELECT * FROM FindMeParking_VALID_USERS")
myresult = mycursor.fetchall()
if len(myresult) > 0:
    has_data = True

In [ ]:
if not has_data:    
    mycursor.execute("SELECT * FROM FindMeParking_USERS")
    myresult = mycursor.fetchall()
    
    user = 0
    for result in myresult:        
        sql = "INSERT INTO FindMeParking_VALID_USERS (valid_user_number, valid_user_email, valid_user_id) VALUES (%s,%s,%s)"        
        val = (myresult[user][0], myresult[user][6], myresult[user][8])
        mycursor.execute(sql, val)
        mydb.commit()
        user+=1
has_data = False

In [ ]:
#VIEW THE 'FindMeParking_VALID_USERS' TABLE DATA
mycursor.execute("SELECT * FROM FindMeParking_VALID_USERS")
myresult = mycursor.fetchall()
for x in myresult:
  print(x)

In [ ]:
#--------------------------------------------------------------------------------------------

In [ ]:
mycursor.execute("CREATE TABLE IF NOT EXISTS FindMeParking_BLOCKED_USERS ( \
    blocked_user_no INT AUTO_INCREMENT, \
    blocked_user_number INT NOT NULL,\
    blocked_user_email VARCHAR(40) NOT NULL,\
    blocked_user_id VARCHAR(9) NOT NULL,\
    PRIMARY KEY (blocked_user_no),\
    FOREIGN KEY (blocked_user_number) REFERENCES FindMeParking_USERS(user_number)\
);")
mydb.commit()

In [ ]:
try:
    mycursor.execute("ALTER TABLE FindMeParking_BLOCKED_USERS AUTO_INCREMENT=100;")
    mydb.commit()
except Exception:
        mydb.rollback()

In [ ]:
#VIEW THE 'FindMeParking_BLOCKED_USERS' TABLE DATA
mycursor.execute("SELECT * FROM FindMeParking_BLOCKED_USERS")
myresult = mycursor.fetchall()
for x in myresult:
  print(x)